.about {
  height: 83vh;
}

.skills {
  margin-top: 8rem;
  justify-content: start !important;
}

.skill {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

@media screen and (max-width: 400px) {
  .about {
    height: 142vh !important;
  }
}
