*{
  padding: 0;
  margin: 0;
}

body{

  font-family: 'Ubuntu', sans-serif;
}

html{
  font-size: 62.5%;
}

@media screen and (max-width:1300px) {
  html{
    font-size: 55%;
  }
}




@media screen and (max-width:768px) {
  html{
    font-size: 50%;
  }
}




@media screen and (max-width:576px) {
  html{
    font-size: 40%;
  }
}


